RewriteEngine On
RewriteBase /

# Se o recurso não existir como arquivo ou diretório, envie para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L] 